/* CSS pour le carrousel */
.carousel {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000e6; /* Fond semi-transparent */
  }
  
  .carousel-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
    text-align: center;
  }
  
  #carousel-image {
    width: 100%;
    height: auto;
  }
  
  .close-carousel {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: #000000cc;
  }
  